@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* GENERAL STYLES */
:root {
  --white-color: white;
  --dark-color: black;
}

body {
  /* BACKGROUND */
  background: url("img/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  /* FONT */
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/* SEARCH */

.search-container {
  width: 100%;

  padding: 30px;
  margin-bottom: 25px;

  display: flex;
  justify-content: center;
}

.search {
  display: flex;
  align-items: center;

  /* BORDER */
  border: 2px solid var(--white-color);
  border-radius: 10px;
}

.search input {
  outline: none;
  border: none;
  padding: 20px 20px;

  /* font */
  color: var(--white-color);
  font-size: 16px;

  /* color */
  background-color: transparent;
}

.search input::placeholder {
  color: var(--white-color);
  font-weight: 600;
  font-size: 16px;
}

.search i {
  color: var(--white-color);

  margin-right: 10px;

  cursor: pointer;
}

/* MAIN CONTENT */

.wrapper {
  padding: 30px 20px;
  border: 1px solid var(--white-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white-color);
  margin-bottom: 30px;
}
.main-content h1 {
  font-weight: 600;
  font-size: 60px;

}

.sub-content {
  width: 70%;
  background: rgb(255, 255, 255, 0.5);
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;

  border-radius: 10px;
}

.condition {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--dark-color);
}
.condition .icon {
  font-size: 18px;
}
.condition:not(:last-child) {
  border-right: 1px solid white;
}

.content p:nth-of-type(odd) {
  font-weight: 600;
  font-size: 18px;
}

/* Responsive */
/* medium devices (tablet) */
@media screen and (max-width: 1024px) {
  /* MAIN CONTENT */
  .container {
    max-width: 500px;
  }
  .wrapper {
    padding: 20px 15px;
  }

  .condition {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .condition .icon {
    font-size: 16px;
  }
  .content p:nth-of-type(odd) {
    font-weight: 600;
    font-size: 16px;
  }
}

/* small devices (cellphones) */
@media screen and (max-width: 600px) {
  /* SEARCH */
  .search-container {
    margin-bottom: 10px;
  }

  /* MAIN CONTENT */
  .container {
    max-width: 300px;
  }
  .main-content {
    margin-bottom: 20px;
  }
  .main-content h1 {
    font-size: 40px;
  }
  .main-content h2 {
    font-size: 18px;
  }
  .sub-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .condition:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
